body {
  margin: 0 auto;
  display: flex;
  align-items: center;
  width: 80%;
  height: 100vh;
  text-align: center;
  justify-content: center;
  align-items: center;
}

h2 {
  margin-bottom: 40px;
}

label {
  font-size: 20px;
}

div {
  margin-bottom: 30px;
}

button {
  margin: 20px 0;
}

img {
  width: 397px;
  height: 127px;
  object-fit: contain;
}

#header {
  margin: 0 auto;
  height: auto;
}